<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!--
    If you get the following error when deploying to WildFly:

    Explicit usage of Jackson annotation in a Jakarta RESTful Web Services deployment; the system will disable Jakarta JSON Binding processing for the current deployment. Consider setting the 'resteasy.preferJacksonOverJsonB' property to 'false' to restore Jakarta JSON Binding.

    WildFly (through RESTEasy) automatically switches from JSON-B (Yasson) to Jackson when it detects any Jackson annotation (e.g., @JsonIgnore, @JsonProperty, etc.) anywhere in the deployment classpath — not only in your code.

    The <context-param> below is used to restore JSON-B as the active provider.
    Configure RESTEasy to "ignore Jackson annotations; use JSON-B anyway."
    -->
    <context-param>
        <param-name>resteasy.preferJacksonOverJsonB</param-name>
        <param-value>false</param-value>
    </context-param>

    <!-- Define a list of default files to server when a directory is requested. -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <!-- Enable automatic extensionless mapping. -->
    <context-param>
        <param-name>jakarta.faces.AUTOMATIC_EXTENSIONLESS_MAPPING</param-name>
        <param-value>true</param-value>
    </context-param>

    <!-- Keep empty input fields as null instead of as empty strings in the model. -->
    <context-param>
        <param-name>jakarta.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>



</web-app>